---
version: "3.8"

services:
  snykey:
    build: .
    ports:
      - "8000:8000"
    environment:
      - OPENBAO_ADDR=https://openbao:8200
      - OPENBAO_TOKEN=${OPENBAO_TOKEN}
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_CACHE_TIME=${REDIS_CACHE_TIME}
    volumes:
      - ./.container_volumes/app/logs:/snykey/logs:rw
      - ./.container_volumes/certs/app:/snykey/certs:rw
      - ./.container_volumes/certs/ca:/snykey/certs/ca:rw
    depends_on:
      - openbao
      - redis

  redis:
    image: "redis:latest"
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./.container_volumes/redis/data:/data:rw
      - ./.container_volumes/redis/config/redis.conf:/etc/redis.conf:ro
    entrypoint: ["redis-server", "/etc/redis.conf"]

  openbao:
    image: "openbao/openbao:latest"
    container_name: openbao
    ports:
      - "8200:8200"
    environment:
      - OPENBAO_ENV=development
      - BAO_ADDR=https://127.0.0.1:8200
      - BAO_API_ADDR=https://127.0.0.1:8200
      - BAO_CACERT=/certs/ca/ca.crt
      - BAO_TOKEN=${OPENBAO_TOKEN}
      - MPS_BAO_TOKEN=${OPENBAO_TOKEN}
      - RPS_BAO_TOKEN=${OPENBAO_TOKEN}
      - MPS_SECRETS_PATH="kv/data"
      - RPS_SECRETS_PATH="kv/data"
    volumes:
      - ./.container_volumes/openbao:/bao:rw
      - ./.container_volumes/certs/bao:/certs:rw
      - ./.container_volumes/certs/ca:/certs/ca:rw
    entrypoint: bao server -config /bao/config/config.hcl
