---
version: "3.8"

networks:
  snykey-internal:
    driver: bridge
    internal: true
  snykey-external:
    driver: bridge

services:
  snykey:
    build: .
    container_name: snykey
    ports:
      - "8000:8000"
    environment:
      - OPENBAO_ADDR=${OPENBAO_ADDR}
      - OPENBAO_TOKEN=${OPENBAO_TOKEN}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_CACHE_TIME=${REDIS_CACHE_TIME}
      - REDIS_PKCE_EXPIRATION=${REDIS_PKCE_EXPIRATION}
      - EXCLUDED_PATHS=${EXCLUDED_PATHS}
      - API_KEY=${API_KEY}
    volumes:
      - ./.container_volumes/app/logs:/snykey/logs:rw,Z
      - ./.container_volumes/certs/app:/snykey/certs:rw,z
      - ./.container_volumes/certs/ca:/snykey/certs/ca:rw,z
    depends_on:
      - openbao
      - redis
    networks:
      - snykey-external
      - snykey-internal

  redis:
    image: "redis:latest"
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./.container_volumes/redis/data:/data:rw,Z
      - ./.container_volumes/redis/config/redis.conf:/etc/redis.conf:ro,Z
    entrypoint: ["redis-server", "/etc/redis.conf"]
    networks:
      - snykey-internal
    expose:
      - "6379"

  openbao:
    image: "openbao/openbao:latest"
    container_name: openbao
    ports:
      - "8200:8200"
    environment:
      - OPENBAO_ENV=development
      - BAO_ADDR=https://127.0.0.1:8200
      - BAO_API_ADDR=https://127.0.0.1:8200
      - BAO_CACERT=/certs/ca/ca.crt
      - BAO_TOKEN=${OPENBAO_TOKEN}
      - MPS_BAO_TOKEN=${OPENBAO_TOKEN}
      - RPS_BAO_TOKEN=${OPENBAO_TOKEN}
      - MPS_SECRETS_PATH="kv/data"
      - RPS_SECRETS_PATH="kv/data"
    volumes:
      - ./.container_volumes/openbao:/bao:rw,Z
      - ./.container_volumes/certs/bao:/certs:rw,z
      - ./.container_volumes/certs/ca:/certs/ca:rw,z
    entrypoint: bao server -config /bao/config/config.hcl
    networks:
      - snykey-internal
    expose:
      - "8200"
