---
site_name: "Snykey Developer Docs"
site_description: "Documentation for Snykey"
theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-2
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.top
    - navigation.expand
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    - navigation.search.highlight
    - navigation.search.shareable
    - navigation.search.suggest
    - navigation.search.suggest.indexes
    - navigation.search.suggest.terms
    - navigation.search.suggest.results
    - navigation.search.suggest.results.indexes
  logo: images/logo-half.png
  favicon: images/logo-small.png

use_directory_urls: false

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Configuration: getting-started/configuration.md
  - Endpoints:
      - v1: endpoints/v1.md
  - Scripts:
      - Generating Certificates: scripts/generate-certificates.md
      - Setup: scripts/setup.md

docs_dir: docs

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: ["snykey"]
          options:
            heading_level: 3
            show_source: true
            docstring_style: google
            show_root_heading: false
            show_root_full_path: false
            show_signature: false
            filters:
              - ".*"
  - minify:
      minify_html: true
      minify_css: true
      minify_js: true
  - git-revision-date-localized:
      fallback_to_build_date: true

markdown_extensions:
  - pymdownx.snippets
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: "!!python/name:pymdownx.superfences.fence_code_format"
